<p>
  {{.f.TextField "extensions_allowed" (hash "size" 50 "label" (sym "setting_attachment_extensions_allowed"))}}
  <em class="info">{{l "text_comma_separated"}} {{l "label_example"}}: txt, png</em>
</p>
