<p>{{.f.Select "default_value" (prepend_list (list) .custom_field.PossibleValuesOptions)}}</p>
<p>{{.f.TextField "url_pattern" (hash "size" 50 "label" (sym "label_link_values_to"))}}</p>
<p>{{edit_tag_style_tag .f true}}</p>
