<p>{{.f.DateField "default_value" (hash "value" .custom_field.DefaultValueAttr "size" 10)}}</p>
{{calendar_for "custom_field_default_value"}}
<p>{{.f.TextField "url_pattern" (hash "size" 50 "label" (sym "label_link_values_to"))}}</p>
