{{partial "custom_fields/formats/regexp" (dict "f" .f "custom_field" .custom_field)}}
<p>{{.f.CheckBox "text_formatting" (hash "label" (sym "setting_text_formatting")) "full" ""}}</p>
{{if eq .custom_field.ClassName "IssueCustomField"}}
<p>{{.f.CheckBox "full_width_layout"}}</p>
{{end}}
<p>{{.f.TextArea "default_value" (hash "rows" 5)}}</p>
