<div class="contextual">
{{link_to (sprite_icon "copy" (l "button_copy")) "/workflows/copy" (hash "class" "icon icon-copy")}}
{{link_to (sprite_icon "summary" (l "field_summary")) "/workflows" (hash "class" "icon icon-summary")}}
</div>
