<div class="contextual">
  {{link_to (sprite_icon "add" (l "label_webhook_new")) "/webhooks/new" (hash "class" "icon icon-add")}}
</div>

{{title (l "label_webhook_plural")}}

{{partial "webhooks/list" (dict "webhooks" .Webhooks "show_author" false "back_query" "")}}
