<h2>{{l "label_webhook_new"}}</h2>

{{$f := labelled_form_for "" .Webhook (hash "url" "/webhooks")}}{{$f.Open}}
  {{partial "webhooks/form" (dict "f" $f)}}
  {{back_url_hidden_field_tag}}
  {{submit_tag (l "button_create")}}
  {{cancel_button_tag "/webhooks"}}
{{end_form}}
