{{title (list (l "label_role_plural") "/roles") (l "label_permissions_report")}}

<div class="hide-when-print">
  <fieldset id="filters" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
      {{sprite_icon "angle-right" (hash "rtl" true)}}
      {{l "label_filter_plural"}}
    </legend>
    <div style="display: none;">
      {{form_tag "/roles/permissions" (hash "method" "get")}}
        <fieldset>
          <legend>{{toggle_checkboxes_link "#filters input[type=checkbox]:enabled"}}</legend>
          {{range $role := .AllRoles}}
            <label>
              {{check_box_tag "ids[]" $role.ID (index $.SelectedRoleIDs $role.ID)}}
              {{$role.Name}}
            </label>
          {{end}}
        </fieldset>
        <p>
          {{submit_tag (l "button_apply") (hash "name" nil)}}
          {{link_to (l "button_clear") "/roles/permissions" (hash "class" "icon icon-reload")}}
        </p>
      {{end_form}}
    </div>
  </fieldset>
</div>

{{form_tag "/roles/permissions" (hash "id" "permissions_form")}}
{{range $role := .Roles}}
    {{hidden_field_tag (printf "permissions[%d][]" $role.ID) "" (hash "id" nil)}}
{{end}}
<div class="autoscroll">
<table class="list permissions">
<thead>
    <tr>
    <th>{{l "label_permissions"}}</th>
    {{range $role := .Roles}}
    <th>
        {{toggle_checkboxes_link (printf "input.role-%d" $role.ID)}}
        {{content_tag (ternary $role.Builtin "em" "span") $role.Name}}
    </th>
    {{end}}
    </tr>
</thead>
<tbody>
{{range $g := .PermissionGroups}}
    {{if $g.Module}}
        <tr class="group open">
          <td>
            <span class="expander icon icon-expanded" onclick="toggleRowGroup(this);">{{sprite_icon "angle-down"}}</span>
            {{$g.Label}}
          </td>
          {{range $role := $.Roles}}
          <td class="role">{{$role.Name}}</td>
          {{end}}
        </tr>
    {{end}}
    {{range $p := $g.Permissions}}
        {{$humanized := l_or_humanize $p.Name "permission_"}}
        <tr class="permission-{{$p.Name}}">
        <td class="name">
            {{toggle_checkboxes_link (printf ".permission-%s input" $p.Name)}}
            {{$humanized}}
        </td>
        {{range $role := $.Roles}}
          {{if $role.Setable $p.Name}}
            <td title="{{printf "%s (%s)" $humanized $role.Name}}">
              {{check_box_tag (printf "permissions[%d][]" $role.ID) $p.Name ($role.Has $p.Name) (hash "id" nil "class" (printf "role-%d" $role.ID))}}
            </td>
          {{else}}
            <td></td>
          {{end}}
        {{end}}
        </tr>
    {{end}}
{{end}}
</tbody>
</table>
</div>
<p>{{check_all_links "permissions_form"}}</p>
<p>{{submit_tag (l "button_save")}}</p>
{{end_form}}
<p class="other-formats hide-when-print">{{l "label_export_to"}}  <span>{{link_to "CSV" .CSVPath (hash "class" "csv" "rel" "nofollow" "onclick" "showModal('csv-export-options', '330px'); return false;")}}</span>
</p><div id="csv-export-options" style="display: none;">
  <h3 class="title">{{l "label_export_options" (hash "export_format" "CSV")}}</h3>
  {{form_tag "/roles/permissions.csv" (hash "method" "get" "id" "csv-export-form")}}
  {{export_csv_encoding_select_tag}}
  {{export_csv_separator_select_tag}}
  <p class="buttons">
    {{submit_tag (l "button_export") (hash "name" nil "onclick" "hideModal(this);" "data" (hash "disable_with" false))}}
    {{link_to_function (l "button_cancel") "hideModal(this);"}}
  </p>
  {{end_form}}
</div>
