<ul>
  {{if .User}}
    {{if .User.Locked}}
      <li>
        {{link_to (sprite_icon "unlock" (l "button_unlock")) (printf "/users/%d?%s" .User.ID (to_query (hash "user" (hash "status" 1)))) (hash "method" "put" "class" "icon icon-unlock")}}
      </li>
    {{else if ne (current_user).ID .User.ID}}
      <li>
        {{link_to (sprite_icon "lock" (l "button_lock")) (printf "/users/%d?%s" .User.ID (to_query (hash "user" (hash "status" 3)))) (hash "method" "put" "class" "icon icon-lock")}}
      </li>
    {{end}}

    <li>
      {{link_to (sprite_icon "edit" (l "button_edit")) (printf "/users/%d/edit" .User.ID) (hash "class" "icon icon-edit")}}
    </li>

    {{if ne (current_user).ID .User.ID}}
      <li>
        {{link_to (sprite_icon "del" (l "button_delete")) (printf "/users/%d" .User.ID) (hash "method" "delete" "class" "icon icon-del")}}
      </li>
    {{end}}
  {{else}}
    {{if not .AllLocked}}
      <li>
        {{link_to (sprite_icon "lock" (l "button_lock")) (printf "/users/bulk_lock?%s" (to_query (hash "ids" .IDs))) (hash "method" "post" "class" "icon icon-lock")}}
      </li>
    {{else}}
      <li>
        {{link_to (sprite_icon "unlock" (l "button_unlock")) (printf "/users/bulk_unlock?%s" (to_query (hash "ids" .IDs))) (hash "method" "post" "class" "icon icon-unlock")}}
      </li>
    {{end}}
    <li>
      {{link_to (sprite_icon "del" (l "button_delete")) (printf "/users/bulk_destroy?%s" (to_query (hash "ids" .IDs))) (hash "method" "delete" "class" "icon icon-del")}}
    </li>
  {{end}}
</ul>
