<h2>{{l "label_document_new"}}</h2>

{{$f := labelled_form_for "" .Document (hash "url" (printf "/projects/%s/documents" current_project.Identifier) "html" (hash "multipart" true))}}{{$f.Open}}
  {{partial "documents/form" (dict "f" $f)}}
  <p>{{submit_tag (l "button_create")}}</p>
{{end_form}}
