{{$diff := unified_diff .diff .diff_type .diff_style}}

{{range $table := $diff.Tables}}
<div class="autoscroll">
{{if eq $diff.DiffType "sbs"}}
<table class="filecontent diffcontent">
<thead>
<tr>
  <th colspan="4" class="filename">
    {{if $table.PreviousFileName}}
      <span class="previous-filename">{{$table.PreviousFileName}} →</span>
    {{end}}
    {{$table.FileName}}
  </th>
</tr>
</thead>
<tbody>
{{range $line := $table.Lines}}
{{if $line.Spacing}}
<tr class="spacing">
  <th class="line-num" data-txt="..."></th><td></td><th class="line-num" data-txt="..."></th><td></td>
</tr>
{{end}}
<tr>
  <th class="line-num" data-txt="{{$line.NbLineLeftString}}"></th>
  <td class="line-code {{$line.TypeDiffLeft}}">
    <div>{{raw $line.HTMLLineLeft}}</div>
  </td>
  <th class="line-num" data-txt="{{$line.NbLineRightString}}"></th>
  <td class="line-code {{$line.TypeDiffRight}}">
    <div>{{raw $line.HTMLLineRight}}</div>
  </td>
</tr>
{{end}}
</tbody>
</table>

{{else}}
<table class="filecontent diffcontent">
<thead>
  <tr>
    <th colspan="3" class="filename">
      {{if $table.PreviousFileName}}
        <span class="previous-filename">{{$table.PreviousFileName}} →</span>
      {{end}}
      {{$table.FileName}}
    </th>
  </tr>
</thead>
<tbody>
{{range $line := $table.Lines}}
{{if $line.Spacing}}
<tr class="spacing">
  <th class="line-num">...</th><th class="line-num">...</th><td></td>
</tr>
{{end}}
<tr>
  <th class="line-num" data-txt="{{$line.NbLineLeftString}}"></th>
  <th class="line-num" data-txt="{{$line.NbLineRightString}}"></th>
  <td class="line-code {{$line.TypeDiff}}">
    <div>{{raw $line.HTMLLine}}</div>
  </td>
</tr>
{{end}}
</tbody>
</table>
{{end}}
</div>
{{end}}

{{if $diff.Truncated}}{{l "text_diff_truncated"}}{{end}}
