$('#import-progress').progressbar({value: {{.Current}}});
$('#progress-label').text("{{.Current}} / {{.Total}}");

{{if .Finished}}
window.location.href='{{url_path (print "/imports/" .Filename)}}';
{{else}}
$.ajax({
  url: '{{url_path (print "/imports/" .Filename "/run.js")}}',
  type: 'post'
});
{{end}}
