<h2>{{l "label_statistics"}}</h2>

<div class="repository-graph">
  <canvas id="commits_per_month"></canvas>
</div>

<div class="repository-graph">
  <canvas id="commits_per_author"></canvas>
</div>


{{define "repositories/stats#js"}}
$(document).ready(function(){
  $.getJSON({{raw (json_string .MonthURL)}}, function(data){

    var chartData = {
      labels: data['labels'],
      datasets: [{
        label: {{raw .RevisionsTxt}},
        backgroundColor: 'rgba(255, 99, 132, 0.7)',
        borderColor: 'rgb(255, 99, 132)',
        borderWidth: 1,
        data: data['commits']
      }, {
        label: {{raw .ChangesTxt}},
        backgroundColor: 'rgba(54, 162, 235, 0.7)',
        borderColor: 'rgb(54, 162, 235)',
        data: data['changes']
      }]
    };
    new Chart(document.getElementById("commits_per_month").getContext("2d"), {
      type: 'bar',
      data: chartData,
      options: {
        elements: {
          bar: {borderWidth: 2}
        },
        responsive: true,
        plugins: {
          legend: {position: 'right'},
          title: {
            display: true,
            text: {{raw .MonthTitle}}
          }
        },
        scales: {
          yAxis: {ticks: {precision: 0}}
        }
      }
    });
  });

  $.getJSON({{raw (json_string .AuthorURL)}}, function(data){

    var chartData = {
      labels: data['labels'],
      datasets: [{
        label: {{raw .RevisionsTxt}},
        backgroundColor: 'rgba(255, 99, 132, 0.7)',
        borderColor: 'rgb(255, 99, 132)',
        borderWidth: 1,
        data: data['commits']
      }, {
        label: {{raw .ChangesTxt}},
        backgroundColor: 'rgba(54, 162, 235, 0.7)',
        borderColor: 'rgb(54, 162, 235)',
        data: data['changes']
      }]
    };

    new Chart(document.getElementById("commits_per_author").getContext("2d"), {
      type: 'bar',
      data: chartData,
      options: {
        indexAxis: 'y',
        elements: {
          bar: {borderWidth: 2}
        },
        responsive: true,
        plugins: {
          legend: {position: 'right'},
          title: {
            display: true,
            text: {{raw .AuthorTitle}}
          }
        },
        scales: {
          xAxis: {ticks: {precision: 0}}
        }
      }
    });
  });
});
{{end}}
{{javascript_tag (capture "repositories/stats#js")}}


<p>{{link_to (l "button_back") .BackURL}}</p>

{{html_title (l "label_repository") (l "label_statistics")}}

{{define "repositories/stats#header_tags"}}
  {{javascript_include_tag "chart.min"}}
{{end}}
{{content_for "header_tags" (capture "repositories/stats#header_tags")}}
