{{/* <% @gantt.view = self %> */}}

<div class="contextual"></div>

<h2>{{if .qv.NewRecord}}{{l "label_gantt"}}{{else}}{{.Query.Name}}{{end}}</h2>

{{if and (not .qv.NewRecord) (present .Query.Description)}}
{{content_tag "p" .Query.Description (hash "class" "subtitle")}}
{{end}}

{{partial "gantts/query_form" .}}
{{render_error_messages .qv.ErrorMessages}}

{{if .Valid}}
{{partial "gantts/chart" .}}
{{end}}

{{define "gantts/show#sidebar"}}
  {{partial "issues/sidebar" .}}
{{end}}
{{content_for "sidebar" (capture "gantts/show#sidebar")}}

{{html_title (l "label_gantt")}}

{{define "gantts/show#header_tags"}}
  {{stylesheet_link_tag "gantt" (hash "media" "all")}}
{{end}}
{{content_for "header_tags" (capture "gantts/show#header_tags")}}

{{context_menu}}
