<h2>{{l "doorkeeper.authorizations.error.title"}}</h2>

<p id="errorExplanation">{{.ErrorDescription}}</p>
<p><a href="javascript:history.back()">{{l "button_back"}}</a></p>

{{html_title (l "doorkeeper.authorizations.error.title")}}
