{{title (list (l "label_oauth_authorized_application_plural") "/oauth/authorized_applications")}}

<fieldset class="tabular"><legend>{{l "label_information_plural"}}</legend>
  <p>
    <label>{{l "doorkeeper.authorizations.show.title"}}:</label>
    <code>{{.Code}}</code>
  </p>
</fieldset>
