<h3 class="title">{{l "label_issue_category_new"}}</h3>

{{$f := labelled_form_for "issue_category" (assigns).Category (hash "as" "issue_category" "url" (printf "/projects/%s/issue_categories" (assigns).Project.Identifier) "remote" true)}}{{$f.Open}}
{{partial "issue_categories/form" (dict "f" $f)}}
  <p class="buttons">
    {{submit_tag (l "button_create") (hash "name" nil)}}
    {{link_to_function (l "button_cancel") "hideModal(this);"}}
  </p>
{{end_form}}
