<h3 class="title">{{l "label_add_projects"}}</h3>

{{form_tag (printf "%s/memberships" (assigns).PrincipalBase) (hash "method" "post" "remote" true "authenticity_token" false)}}
  {{partial "principal_memberships/new_form"}}
  <p class="buttons">
    {{submit_tag (l "button_add") (hash "name" nil)}}
    {{link_to_function (l "button_cancel") "hideModal(this);"}}
  </p>
{{end_form}}
