{{$t := .table}}
{{if $t.Empty}}
    <p><i>{{l "label_no_data"}}</i></p>
{{else}}
<table class="list issue-report-detailed">
<thead><tr>
<th></th>
{{range $s := $t.Statuses}}
<th>{{$s.Name}}</th>
{{end}}
<th><strong>{{l "label_open_issues_plural"}}</strong></th>
<th><strong>{{l "label_closed_issues_plural"}}</strong></th>
<th><strong>{{l "label_total"}}</strong></th>
</tr></thead>
<tbody>
{{range $row := $t.Rows}}
<tr>
  <td class="name">{{$row.NameLink}}</td>
  {{range $c := $row.ByStatus}}
    <td>{{$c.Link}}</td>
  {{end}}
  <td>{{$row.Open.Link}}</td>
  <td>{{$row.Closed.Link}}</td>
  <td>{{$row.Total.Link}}</td>
</tr>
{{end}}
</tbody>
<tfoot>
<tr class="total">
  <td>{{l "label_total"}}</td>
  {{range $n := $t.TotalByStatus}}
  <td>{{$n}}</td>
  {{end}}
  <td>{{$t.TotalOpen}}</td>
  <td>{{$t.TotalClosed}}</td>
  <td>{{$t.Total}}</td>
</tr>
</tfoot>
</table>
<p class="other-formats hide-when-print">{{l "label_export_to"}}  <span>{{link_to "CSV" .csv_path (hash "class" "csv" "rel" "nofollow" "onclick" "showModal('csv-export-options', '330px'); return false;")}}</span>
</p><div id="csv-export-options" style="display: none;">
  <h3 class="title">{{l "label_export_options" (hash "export_format" "CSV")}}</h3>
  {{form_tag .csv_path (hash "method" "get" "id" "csv-export-form")}}
  {{export_csv_encoding_select_tag}}
  {{export_csv_separator_select_tag}}
  <p class="buttons">
    {{submit_tag (l "button_export") (hash "name" nil "onclick" "hideModal(this);" "data" (hash "disable_with" false))}}
    {{link_to_function (l "button_cancel") "hideModal(this);"}}
  </p>
  {{end_form}}
</div>

<div class="issue-report-graph hide-when-print" data-controller="reports--details" data-reports--details-title-value="{{l "label_issues_by" (hash "value" .report_title)}}">
  <template data-reports--details-target="labels">
    {{$t.ChartLabelsJSON}}
  </template>
  <template data-reports--details-target="datasets">
    {{$t.ChartDatasets1JSON}}
  </template>
  <canvas id="issues_by_{{.detail}}" data-reports--details-target="canvas"></canvas>
</div>
<div class="issue-report-graph hide-when-print" data-controller="reports--details" data-reports--details-title-value="{{l "label_issues_by" (hash "value" (l "field_status"))}}">
  <template data-reports--details-target="labels">
    {{$t.ChartStatusesJSON}}
  </template>
  <template data-reports--details-target="datasets">
    {{$t.ChartDatasets2JSON}}
  </template>
  <canvas id="issues_by_status" data-reports--details-target="canvas"></canvas>
</div>
{{end}}
