{{define "reports/_details#js"}}

  function renderChart(canvas_id, title, chartData){
    var backgroundColors = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'];
    var borderColors = ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'];
    for (var i = 0; i < chartData.datasets.length; i++) {
      chartData.datasets[i].backgroundColor = backgroundColors[i % backgroundColors.length];
      chartData.datasets[i].borderColor = borderColors[i % borderColors.length];
      chartData.datasets[i].borderWidth = 1;
    }
    new Chart($(canvas_id), {
      type: 'bar',
      data: chartData,
      options: {
        indexAxis: 'y',
        elements: {
          bar: {borderWidth: 2}
        },
        responsive: true,
        plugins: {
          legend: {position: 'right'},
          title: {
            display: true,
            text: title
          }
        },
        scales: {
          yAxis: {stacked: true},
          xAxis: {stacked: true, ticks: {precision: 0}}
        }
      }
    });
  }
  $(document).ready(function(){
    var chartData1 = {
      labels: {{.table.ChartLabelsJSON}},
      datasets: {{.table.ChartDatasets1JSON}}
    };
    var chartData2 = {
      labels: {{.table.ChartStatusesJSON}},
      datasets: {{.table.ChartDatasets2JSON}}
    };
    renderChart("#issues_by_{{.detail}}", "{{l "label_issues_by" (hash "value" .report_title)}}", chartData1);
    renderChart("#issues_by_status", "{{l "label_issues_by" (hash "value" (l "field_status"))}}", chartData2);
  });
{{end}}
{{define "reports/_details#header_tags"}}
  {{javascript_include_tag "chart.min"}}
{{end}}
{{$t := .table}}
{{if $t.Empty}}
    <p><i>{{l "label_no_data"}}</i></p>
{{else}}
<table class="list issue-report-detailed">
<thead><tr>
<th></th>
{{range $s := $t.Statuses}}
<th>{{$s.Name}}</th>
{{end}}
<th><strong>{{l "label_open_issues_plural"}}</strong></th>
<th><strong>{{l "label_closed_issues_plural"}}</strong></th>
<th><strong>{{l "label_total"}}</strong></th>
</tr></thead>
<tbody>
{{range $row := $t.Rows}}
<tr>
  <td class="name">{{$row.NameLink}}</td>
  {{range $c := $row.ByStatus}}
    <td>{{$c.Link}}</td>
  {{end}}
  <td>{{$row.Open.Link}}</td>
  <td>{{$row.Closed.Link}}</td>
  <td>{{$row.Total.Link}}</td>
</tr>
{{end}}
</tbody>
<tfoot>
<tr class="total">
  <td>{{l "label_total"}}</td>
  {{range $n := $t.TotalByStatus}}
  <td>{{$n}}</td>
  {{end}}
  <td>{{$t.TotalOpen}}</td>
  <td>{{$t.TotalClosed}}</td>
  <td>{{$t.Total}}</td>
</tr>
</tfoot>
</table>
<p class="other-formats hide-when-print">{{l "label_export_to"}}  <span>{{link_to "CSV" .csv_path (hash "class" "csv" "rel" "nofollow" "onclick" "showModal('csv-export-options', '330px'); return false;")}}</span>
</p><div id="csv-export-options" style="display: none;">
  <h3 class="title">{{l "label_export_options" (hash "export_format" "CSV")}}</h3>
  {{form_tag .csv_path (hash "method" "get" "id" "csv-export-form")}}
  {{export_csv_encoding_select_tag}}
  {{export_csv_separator_select_tag}}
  <p class="buttons">
    {{submit_tag (l "button_export") (hash "name" nil "onclick" "hideModal(this);" "data" (hash "disable_with" false))}}
    {{link_to_function (l "button_cancel") "hideModal(this);"}}
  </p>
  {{end_form}}
</div>

<div class="issue-report-graph hide-when-print">
  <canvas id="issues_by_{{.detail}}"></canvas>
</div>
<div class="issue-report-graph hide-when-print">
  <canvas id="issues_by_status"></canvas>
</div>
{{javascript_tag (capture "reports/_details#js" .) -}}
{{content_for "header_tags" (capture "reports/_details#header_tags" .)}}
{{end}}
