{{/* queries/_filters.html.erb（UserQuery 用の暫定移植） */}}
{{define "users/_query_filters#js"}}

var operatorLabels = {{.query.OperatorLabelsJSON}};
var operatorByType = {{.query.OperatorByTypeJSON}};
var availableFilters = {{.query.AvailableFiltersJSON}};
var labelDayPlural = {{.query.RawJSON (l "label_day_plural")}};

var filtersUrl = {{.query.RawJSON (url_path "/queries/filter?type=UserQuery")}};

$(document).ready(function(){
  initFilters();
  {{range $f := .query.Filters}}
  addFilter("{{$f.Field}}", {{$.query.RawJSON $f.Operator}}, {{$.query.RawJSON $f.Values}});
  {{end}}
});
{{end}}
{{javascript_tag (capture "users/_query_filters#js" .)}}
<div id="filters-table">
</div>

<div class="add-filter">
{{label_tag "add_filter_select" (l "label_filter_add")}}
{{select_tag "add_filter_select" .query.FilterOptions (hash "name" nil)}}
</div>

{{hidden_field_tag "f[]" ""}}
