{{/* MyHelper#render_blocks / render_block（末尾に改行を出さない） */}}{{range $b := .blocks}}{{$content := partial $b.Partial $b.Locals}}{{if present $content}}<div class="mypage-box" id="block-{{$b.Block}}"><div class="contextual">{{content_tag "span" (sprite_icon "reorder" "") (hash "class" "icon-only icon-sort-handle sort-handle" "title" (l "button_move"))}}{{link_to (sprite_icon "close" (l "button_delete")) $b.RemoveURL (hash "remote" true "method" "post" "class" "icon-only icon-close" "title" (l "button_delete"))}}</div>{{$content}}</div>{{end}}{{end}}