<h2>{{l "button_change_password"}}</h2>

{{error_messages_for .User}}

{{form_tag "/my/password" (hash "class" "tabular")}}
<div class="box">
<p><label for="password">{{l "field_current_password"}} <span class="required">*</span></label>
{{password_field_tag "password" nil (hash "size" 25 "autocomplete" "current-password")}}</p>

<p><label for="new_password">{{l "field_new_password"}} <span class="required">*</span></label>
{{password_field_tag "new_password" nil (hash "size" 25 "autocomplete" "new-password")}}
  <em class="info">{{l "text_caracters_minimum" (hash "count" .PasswordMinLength)}}</em>
  {{if .PasswordCharClasses}}
    <em class="info">{{l "text_characters_must_contain" (hash "character_classes" .PasswordCharClasses)}}</em>
  {{end}}
</p>

<p><label for="new_password_confirmation">{{l "field_password_confirmation"}} <span class="required">*</span></label>
{{password_field_tag "new_password_confirmation" nil (hash "size" 25 "autocomplete" "new-password")}}</p>
</div>
{{submit_tag (l "button_apply")}}
{{end_form}}

{{define "my/password#sidebar"}}
{{partial "my/sidebar"}}
{{end}}
{{if not .MustChangePassword}}
{{content_for "sidebar" (capture "my/password#sidebar")}}
{{end}}
