$('#api-access-key').html('{{j .APIKey}}').toggle();

if ($('#api-access-key').is(':visible')) {
  $('.api-key-actions .copy-api-key-link').show();
} else {
  $('.api-key-actions .copy-api-key-link').hide();
}
