<div class="nodata">
{{form_tag "/admin/default_configuration"}}
    {{simple_format (l "text_no_configuration_data")}}
    <p>{{l "field_language"}}:
    {{select_tag "lang" (options_for_select (lang_options_for_select false) (current_language))}}
    {{submit_tag (l "text_load_default_configuration")}}</p>
{{end_form}}
</div>
