<h2>{{l "label_information_plural"}}</h2>

<p><strong>{{.VersionedName}}</strong></p>
<p class="buropher-license">Licensed under <a href="{{.LicenseURL}}" class="external">{{.License}}</a>.
Based on <a href="{{.UpstreamURL}}" class="external">{{.Upstream}}</a> ({{.UpstreamCopyright}}).
Source code: <a href="{{.SourceURL}}" class="external">{{.SourceURL}}</a></p>

<table class="list">
{{range .Checklist}}
  <tr>
    <td class="name">{{.Label}}</td>
    <td class="tick">
      <span class="icon-only icon-{{if .Result}}ok{{else}}error{{end}}">
        {{if .Result}}{{sprite_icon "checked"}}{{else}}{{sprite_icon "warning"}}{{end}}
      </span>
    </td>
  </tr>
{{end}}
</table>
<br />
<div class="box autoscroll">
<pre>{{.Environment}}</pre>
</div>

{{html_title (l "label_information_plural") -}}
