<h2>{{if .Author}}{{raw (l "label_user_activity" (hash "value" (link_to_user .Author)))}}{{else}}{{l "label_activity"}}{{end}}</h2>

<p class="subtitle">{{.Subtitle}}</p>

{{partial "activities/activities" (dict "events_by_day" .EventsByDay)}}
{{if not .EventsByDay}}{{content_tag "p" (l "label_no_data") (hash "class" "nodata")}}{{end}}

<span class="pagination">
  <ul class="pages">
    <li class="previous page">
{{link_to (printf "« %s" (l "label_previous")) .PrevURL (hash "title" .PrevTitle "accesskey" (accesskey "previous"))}}
    </li>{{if .ShowNext}}<li class="next page">
{{link_to (printf "%s »" (l "label_next")) .NextURL (hash "title" .NextTitle "accesskey" (accesskey "next"))}}</li>{{end}}
  </ul>
</span>
&nbsp;
<p class="other-formats hide-when-print">{{l "label_export_to"}}  <span>{{link_to "Atom" .AtomURL (hash "class" "atom" "rel" "nofollow")}}</span>
</p>
{{define "activities/index#header_tags"}}
{{auto_discovery_link_tag "atom" .AtomFeedURL}}
{{end}}
{{content_for "header_tags" (capture "activities/index#header_tags")}}

{{define "activities/index#sidebar"}}
{{form_tag .FormAction (hash "method" "get" "id" "activity_scope_form")}}
<h3>{{l "label_activity"}}</h3>
<p>
  {{raw (l "label_days_to_html" (hash "days" .Days "date" (date_field_tag "from" "" (hash "value" (format_iso_date .LastDate) "size" 10))))}}
  {{calendar_for "from"}}
</p>
<p>
  {{l "label_user"}}
  {{select_tag "user_id" (options_for_select .AuthorOptions (param "user_id")) (hash "include_blank" true)}}
</p>
<ul>
{{range $t := .EventTypes}}
  <li>
    {{check_box_tag (printf "show_%s" $t) 1 (index $.Scope $t)}}
    <label for="show_{{$t}}">
      {{link_to (l (printf "label_%s_plural" (activity_singularize $t))) (activity_type_url $.FormAction $t)}}
    </label>
  </li>
{{end}}
</ul>
{{if .HasSubprojects}}
    {{hidden_field_tag "with_subprojects" 0 (hash "id" nil)}}
    <p><label>{{check_box_tag "with_subprojects" 1 .WithSubproject}} {{l "label_subproject_plural"}}</label></p>
{{end}}
<p>{{submit_tag (l "button_apply") (hash "class" "button-small" "name" "submit")}}</p>
{{end_form}}
{{end}}
{{content_for "sidebar" (capture "activities/index#sidebar")}}

{{html_title (l "label_activity") (activity_author_name .Author)}}
