{{$lv := .list}}
{{form_tag request_path (hash "data" (hash "cm_url" "/issues/context_menu")) -}}
{{hidden_field_tag "back_url" $lv.BackURL (hash "id" nil)}}
{{$lv.ColumnsHiddenTags}}
<div class="autoscroll">
<table class="list issues odd-even {{$lv.QV.CSSClasses}}">
  <thead>
    <tr>
      <th class="checkbox hide-when-print">
        {{check_box_tag "check_all" "" false (hash "class" "toggle-selection" "title" (printf "%s / %s" (l "button_check_all") (l "button_uncheck_all")))}}
      </th>
      {{range $column := $lv.Inline}}
        {{$lv.QV.ColumnHeader $column}}
      {{end}}
      <th class="buttons hide-when-print"></th>
    </tr>
  </thead>
  <tbody>
  {{range $row := $lv.Rows}}
  {{if $row.GroupName}}
    {{reset_cycle}}
    <tr class="group open">
      <td colspan="{{$lv.ColSpan}}">
        <span class="expander icon icon-expanded" onclick="toggleRowGroup(this);">{{sprite_icon "angle-down"}}</span>
        <span class="name">{{$row.GroupName}}</span>
        {{if $row.GroupCount}}
        <span class="badge badge-count count">{{$row.GroupCount}}</span>
        {{end}}
        <span class="totals">{{$row.GroupTotals}}</span>
        {{link_to_function (printf "%s/%s" (l "button_collapse_all") (l "button_expand_all")) "toggleAllRowGroups(this)" (hash "class" "toggle-all")}}
      </td>
    </tr>
  {{end}}
  <tr id="issue-{{$row.Issue.ID}}" class="hascontextmenu {{cycle "odd" "even"}} {{$row.CSS}} {{$row.LevelClass}}">
    <td class="checkbox hide-when-print">{{check_box_tag "ids[]" $row.Issue.ID false (hash "id" nil)}}</td>
    {{range $cell := $row.Cells}}
    {{content_tag "td" $cell.Content (hash "class" $cell.CSS)}}
    {{end}}
    <td class="buttons hide-when-print">{{link_to_context_menu}}</td>
  </tr>
  {{range $block := $row.Blocks}}
  <tr class="{{current_cycle}}">
    <td colspan="{{$lv.ColSpan}}" class="{{$block.CSS}} block_column">
      {{if $lv.MultipleBlocks}}
        <span>{{$block.Caption}}</span>
      {{end}}
      {{$block.Content}}
    </td>
  </tr>
  {{end}}
  {{end}}
  </tbody>
</table>
</div>
{{end_form -}}
