{{$v := .V}}
<div class="contextual">
{{if $v.CanManageRelations}}
  {{link_to (l "button_add") "#" (hash "onclick" "$('#new-relation-form').toggle(); $('#relation_issue_to_id:visible').focus(); return false;")}}
{{end}}
</div>

<p>
  <strong>{{l "label_related_issues"}}</strong>
  {{if $v.Relations}}{{$v.RelationsStats}}{{end}}
</p>

{{if $v.Relations}}
{{form_tag request_path (hash "data" (hash "cm_url" "/issues/context_menu"))}}
  <div class="relation-issues-wrapper">
    {{$v.IssueRelations}}
  </div>
{{end_form}}
{{end}}

{{$rf := form_for "relation" $v.NewRelation (hash "as" "relation" "remote" true "url" (printf "/issues/%d/relations" $v.Issue.ID) "method" "post" "html" (hash "id" "new-relation-form" "style" "display: none;"))}}
{{$rf.Open}}
{{if $v.RelationErrorMessages}}
  <div id="errorExplanation">
    {{notice_icon "error"}}
    <ul>
      {{range $message := $v.RelationErrorMessages}}
        <li>{{$message}}</li>
      {{end}}
    </ul>
  </div>
{{end}}
<p>{{$rf.Select "relation_type" $v.RelationTypeChoices (hash) (hash "onchange" "setPredecessorFieldsVisibility();")}}
{{l "label_issue"}} #{{$rf.TextField "issue_to_id" (hash "value" $v.UnsavedRelationsIDs "size" 10)}}
<span id="predecessor_fields" style="display:none;">
{{l "field_delay"}}: {{$rf.TextField "delay" (hash "size" 3)}} {{l "label_day_plural"}}
</span>
{{submit_tag (l "button_add")}}
{{link_to_function (l "button_cancel") "$(\"#new-relation-form\").hide();"}}
<em class="info">{{l "text_comma_separated"}}</em>
</p>

{{javascript_tag (printf "multipleAutocompleteField('relation_issue_to_id', '%s')" (j $v.AutoCompleteRelationURL))}}

{{javascript_tag "setPredecessorFieldsVisibility();"}}
{{end_form}}
