{{/* watchers/_watchers（チケット用。グループ・無効なウォッチャーの警告・チケットのウォッチャー削除ルート /issues/:id/watchers/:user_id に対応）。TODO(dedupe): watchers/_watchers の共通実装がチケットに対応したら統合する */}}
{{$v := .V}}
{{if $v.CanAddWatchers}}
<div class="contextual">
{{link_to (l "button_add") (printf "/watchers/new?object_id=%d&object_type=issue" $v.Issue.ID) (hash "remote" true "method" "get")}}
</div>
{{end}}

{{if $v.CanViewWatchers}}
<h3>{{l "label_issue_watchers"}} ({{$v.WatcherCount}})</h3>

{{with $items := $v.WatcherItems}}<ul class="watchers">{{range $w := $items}}<li class="user-{{$w.User.ID}}">{{if $w.IsUser}}{{avatar $w.User (hash "size" "16")}}{{end}}{{$w.Link}}{{$w.Warning}}{{if $w.Delete}} {{$w.Delete}}{{end}}</li>{{end}}</ul>{{end}}
{{else}}
<h3>{{l "label_issue_watchers"}}</h3>
{{end}}
