replaceIssueFormWith('{{j (partial "issues/form" .)}}');
{{if eq .TriggeredBy "issue_project_id"}}
  $("#watchers_form_container").html(
    '{{j (partial "issues/watchers_form" .)}}');
{{else if eq .TriggeredBy "issue_category_id"}}
  $('#issue_assigned_to_id').find('option').first()
    // Browsers prefer option[label] over inner text, so remove the blank label.
    .removeAttr('label')
    .html(
      '{{.CategoryAssigneeHTML}}');
{{end}}
