<div class="wiki wiki-page">
  {{textilizable .content.Text (hash "object" .object "attachments" (ref_attachments .attachments) "edit_section_links" (wiki_edit_section_links .sections_editable .page))}}
</div>
