<p>{{l "buropher.discord.mail_body_fallback"}}</p>

<p>{{l "buropher.discord.label_reason"}}: <strong>{{.Reason}}</strong></p>

<p>{{l "buropher.discord.text_relink"}}:<br />
{{link_to .AccountURL .AccountURL}}</p>
