<h2>{{l "label_news"}}</h2>

{{$f := labelled_form_for "" .News (hash "url" (news_path .News.News) "html" (hash "id" "news-form" "multipart" true "method" "put"))}}{{$f.Open}}
{{partial "news/form" (dict "f" $f)}}
{{submit_tag (l "button_save")}}
{{end_form}}

{{define "news/edit#header_tags"}}
  {{stylesheet_link_tag "scm"}}
{{end}}
{{content_for "header_tags" (capture "news/edit#header_tags")}}
