{{call_hook "view_account_login_top"}}

<div id="login-form">
  {{if .ShowLocalForm}}{{form_tag "/login" (hash "onsubmit" "return keepAnchorOnSignIn(this);")}}
  {{back_url_hidden_field_tag}}
  
  <label for="username">{{l "field_login"}}</label>
  {{text_field_tag "username" (param "username") (hash "tabindex" "1" "autocomplete" "username" "autofocus" (param_blank "username"))}}
  
  <label for="password">
    {{l "field_password"}}
    {{if setting_bool "lost_password"}}{{link_to (l "label_password_lost") "/account/lost_password" (hash "class" "lost_password")}}{{end}}
  </label>
  {{password_field_tag "password" nil (hash "tabindex" "2" "autocomplete" "current-password" "autofocus" (not (param_blank "username")))}}
  
  {{if setting_bool "autologin"}}
    <label for="autologin">{{check_box_tag "autologin" 1 false (hash "tabindex" 4)}} {{l "label_stay_logged_in"}}</label>
  {{end}}
  
  <input type="submit" name="login" value="{{l "button_login"}}" tabindex="5" id="login-submit" />
  {{end_form}}
  {{end}}
  {{/* buropher 拡張: OIDC のログインボタン（OIDC 認証方式が無ければ何も出さない） */}}
  {{if .SSOButtons}}
  <div id="sso-login">
    {{if .ShowLocalForm}}<p class="sso-separator">{{l "buropher.sso.label_or"}}</p>{{end}}
    {{range $b := .SSOButtons}}
    <p>{{link_to $b.Label $b.URL (hash "class" "button sso-login-button")}}</p>
    {{end}}
    {{if and .SSORequired (not .ShowLocalForm)}}
    <p class="sso-local-login">{{link_to (l "buropher.sso.label_local_login") "/login?local=1" (hash "class" "lost_password")}}</p>
    {{end}}
  </div>
  {{end}}
</div>

{{call_hook "view_account_login_bottom"}}
