<h2>{{l "label_password_lost"}}</h2>

{{error_messages_for .User}}

{{form_tag "/account/lost_password"}}
  {{hidden_field_tag "token" .Token}}
  <div class="box tabular">
    <p>
      <label for="new_password">{{l "field_new_password"}} <span class="required">*</span></label>
      {{password_field_tag "new_password" nil (hash "size" 25 "autocomplete" "new-password")}}
      <em class="info">{{l "text_caracters_minimum" (hash "count" .PasswordMinLength)}}</em>
      {{if .PasswordCharClasses}}
        <em class="info">{{l "text_characters_must_contain" (hash "character_classes" .PasswordCharClasses)}}</em>
    {{end}}
    </p>

    <p>
      <label for="new_password_confirmation">{{l "field_password_confirmation"}} <span class="required">*</span></label>
      {{password_field_tag "new_password_confirmation" nil (hash "size" 25 "autocomplete" "new-password")}}
    </p>
  </div>
  <p>{{submit_tag (l "button_save")}}</p>
{{end_form}}
