<ul>
{{range .items}}
  <li>{{.}}</li>
{{end}}
</ul>
{{if .flag}}
    <p>yes</p>
{{else}}
    <p>no</p>
{{end}}
<div>{{if .flag}}inline{{end}}</div>
  {{.name}}
  {{.name -}}
after
{{/* comment line */}}
  {{if .flag}}
indented-with-trailing-space
  {{end}}
{{range .empty}}{{.}}{{end}}
text {{if .flag}}mid{{end}} text
{{"a"}}{{if .flag}}
b
{{end}}
	{{if .flag}}
tab-indented
	{{end}}

{{if not .flag}}
never
{{end}}
<table>
  {{range $i, $item := .items}}
  <tr class="{{if even $i}}odd{{else}}even{{end}}">
    <td>{{$item}}</td>
  </tr>
  {{end}}
</table>
{{.name}} {{.name}}
{{$x := 1}}
<p>{{$x}}</p>
{{if .flag}}{{if .flag}}
double
{{end}}{{end}}
end
