<div class="contextual">
{{link_to_function (sprite_icon "add" (l "label_custom_field_new")) "location.href = '/custom_fields/new?tab=' + encodeURIComponent(($('.tabs a.selected').attr('id')||'').split('tab-').pop())" (hash "class" "icon icon-add")}}
</div>

{{title (l "label_custom_field_plural")}}

{{if .CustomFieldsByType}}
  {{render_tabs .Tabs}}
{{else}}
  <p class="nodata">{{l "label_no_data"}}</p>
{{end}}

{{define "custom_fields/index#js"}}

  $(function() { $("table.custom_fields tbody").positionedItems(); });
{{end}}
{{/* ERB の <% end %> と同じく末尾の改行を出さない */}}
{{javascript_tag (capture "custom_fields/index#js")}}